.MyTrackList {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}

.TrackImg {
  max-width: 70px;
  border-radius: 50px;
}

.Remove {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 40px;
}

.TrackList {
  position: relative;
  top: 90px;
  padding: 30px;
  max-width: 70% !important;
  margin-top: 75px;
}

.SongDuration {
  padding-top: 10px;
  position: absolute;
  right: 140px;
  top: 20px;
  font-weight: 400;
  color: #fff;
  font-size: 0.8em;
}

.ArtistName {
  color: #fff;
  opacity: 0.8;
  font-weight: 300;
  font-size: 0.8em;
}

.TracklistGet {
  padding: 15px 25px;
  font-size: 18px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.TrackName {
  color: #fff;
  padding-top: 10px;
}

.TrackItem {
  border: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.42) !important;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 15px;
}

.AlignVertical {
  padding-bottom: 250px;
}
