body {
  font-family: 'Hind', sans-serif;
  height: 100%;
  background: linear-gradient(-100deg, #56269a, #241e94);
  background-size: 100% 100%;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}

.Dash {
  position: absolute;
  top: 160px;
}

.container {
  position: relative;
  top: 15px;
}

.BodyWrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.full-screeen {
  width: 100vw;
  height: 100vh;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
