.PlaylistName {
  width: 80%;
  margin: 0 auto;
  border-width: 0 0 1px 0;
  border-color: #ccc;
  height: 70px;
  background-color: transparent;
  font-size: 30px;
  color: #606060;
  outline: 0 none;
}

.PlaylistDescription {
  width: 80%;
  margin: 0 auto;
  border-width: 0 0 1px 0;
  border-color: #ccc;
  height: 70px;
  background-color: transparent;
  font-size: 30px;
  color: #606060;
  outline: 0 none;
}

.PlaylistSave {
  position: relative;
  top: 30px;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  height: 70px;
  border: none;
  font-size: 22px;
}
