.MyCollabs {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #404040;
  font-weight: bold;
  width: 66.4% !important;
  background-color: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  z-index: 100;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.CollabList {
  border-radius: 10px;
  background-color: #fff;
  width: 70% !important;
  text-align: center;
  max-height: 450px;
  overflow-y: scroll;
  margin: 0 auto !important;
}

.PlaylistGet {
  padding: 15px 25px;
  font-size: 18px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.CollabItem:first-child {
  margin-top: 73px;
}

.CollabItem {
  border: none;
  border-bottom: 1px solid #eaeaea !important;
  background: transparent;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  color: #28a745;
  padding-top: 20px;
  padding-bottom: 5px;
  transition: background-color 0.3s;
}

.CollabItem:hover {
  background-color: #28a745;
}

.CollabItem:hover {
  color: #fff !important;
}

.CollabItem:hover p {
  color: #fff;
}

.CollabPlayInfo {
  color: #606060;
  font-size: 15px;
  font-weight: 400;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
