.RoomCover {
  position: relative;
  top: 60px;
  margin: 0;
  padding: 20px 40px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.42) !important;
}

.PlaylistN {
}

.share {
  border-radius: 45px;
  width: 100px;
}

.row {
  width: 100% !important;
}

.PlaylistInfo {
  color: #fff;
  padding-left: 10px;
  padding-top: 20px;
  max-width: 70%;
}

.PlaylistImg {
  max-width: 130px;
}

.PlaylistDesc {
  font-size: 22px;
}

.Col1,
.Col2 {
  color: #fff;
}

ul {
  list-style: none;
  padding-left: 10px !important;
}

@media (min-width: 576px) {
  .RoomCover {
    max-width: 100%;
  }
}
