.SearchBar {
  position: relative;
  top: 90px;
  left: 60px;
  margin-bottom: 20px;
}

.SearchInput {
  border-radius: 45px;
  width: 640px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  height: 55px;
  background-color: transparent;
  font-size: 30px;
  color: #fff;
  outline: 0 none;
  padding-left: 20px;
  background-color: rgba(255, 255, 255, 0.119);
}

.SearchButton {
  cursor: pointer;
  padding: 10px 45px 10px 45px;
  border: none;
  font-size: 20px;
  margin-left: 20px;
  border-radius: 40px;
  margin-top: -10px;
}

::-webkit-input-placeholder {
  padding-left: 15px;
  color: #909090;
  font-size: 20px;
}
