.WidgetPlayer {
  z-index: 999 !important;
}

.WidgetPlayer iframe {
  width: 100% !important;
  height: 80px;
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 999 !important;
}
