header {
  padding: 0 60px 0 60px;
  width: 100%;
  overflow: hidden;
  height: 80px;
  border-bottom: 1px solid #eaeaea;
  background-color: #eaeaea;
  position: absolute;
  top: 0;
  padding-top: 20px;
}

.UserPhoto {
  width: 40px;
  border-radius: 40px;
  display: inline-block;
}

.wrapper {
  max-width: 1200px;
}

.UserProfile {
  position: absolute;
  top: 20px;
  right: 200px;
}

.UserName {
  padding-left: 10px;
  display: inline-block;
  font-weight: 400;
  color: #606060;
}

.logo {
  font-size: 32px;
  color: #28a745;
  font-weight: bold;
}
