input {
  margin: 0 auto !important;
  width: 100%;
  font-size: 50px;
}

textarea {
  margin: 0 auto !important;
  width: 100% !important;
  font-size: 50px;
}

input::-webkit-input-placeholder {
  padding-left: 15px;
  color: #fff;
  font-size: 22px;
  opacity: 0.5;
}

textarea::-webkit-input-placeholder {
  padding-left: 15px;
  color: #fff;
  opacity: 0.8;
  font-size: 22px;
}

.Dashboard {
  margin: 0 auto !important;
  width: 80%;
}

.FormWrapper {
  width: 70%;
  max-width: 500px;
  margin: 0 auto;
}

.CreatePlaylist {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.PlaylistName {
  margin-top: 40px !important;
  border-width: 0 0 1px 0;
  border-color: #fff;
  height: 70px;
  background-color: transparent;
  color: #fff;
  outline: 0 none;
  font-size: 22px;
}

.PlaylistDescription {
  margin-top: 40px !important;
  border-width: 0 0 1px 0;
  border-color: #fff;
  background-color: transparent;
  font-size: 22px;
  color: #fff;
  outline: 0 none;
  min-height: 100px;
}

.PlaylistSave {
  border-radius: 60px;
  position: relative;
  top: 30px;
  cursor: pointer;
  width: 100%;
  margin-top: 30px;
  height: 60px;
  border: none;
  font-size: 22px;
}
